:root {
  --pepper-red:#9f2a00;
  --pepper-green:green;
}
/* TODO: These don't need to be named "pepper", also I'm not sure about red as a color. */

html {
  background-color:rgb(1,4,9);
  color:#eee;
  overflow-y:scroll;
  text-align:center;
}

body {
  margin:0px;
}

h2,h4 {
  margin:0;
  color:#dfffdf;
  text-shadow:
    0 0 12px rgba(28, 242, 51, 0.58),
    0 0 22px rgba(55, 242, 28, 0.84),
    0 0 38px rgba(28, 242, 41, 0.88),
    0 0 60px rgba(28, 242, 71, 0.92);
  font-family:monospace,monospace;
  font-weight:normal;
}

h1,h3 {
  margin:0;
  color:#ffc9c7;
  text-shadow:
    0 0 6px rgba(227, 219, 201, 0.92),
    0 0 30px rgba(227, 219, 201, 0.34),
    0 0 12px rgba(242, 36, 28, 0.52),
    0 0 21px rgba(242, 36, 28, 0.92),
    0 0 34px rgba(242, 36, 28, 0.78),
    0 0 54px rgba(242, 36, 28, 0.92);
  font-family:monospace,monospace;
  font-weight:normal;
}

h1,h2 {
  padding:.5em;
}

h3,h4 {
  padding:.25em;
}

a:active, a:link, a:visited {
  color:var(--pepper-green);
  text-decoration:none;
}

a:hover {
  color:var(--pepper-red);
  text-decoration:none;
}
